@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+HK&display=swap');
:root{
  --purpleColor:#b723c8;
  --lightPurpleColor:#d143e1;
  --pageColor:#f9f9f9;
  --copyRightColor:#f0f0f0;
  --grayColor:#545454;
  }
html {
  scroll-behavior: smooth;
}

.slider {
  margin-bottom: 30px;
  position: relative;
  
}
.slider .owl-item.active.center .slider-card {
  transform: scale(1.15);
  opacity: 1;
  background: var(--lightPurpleColor); /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, var(--purpleColor), var(--lightPurpleColor)); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to bottom, var(--purpleColor), var(--lightPurpleColor)); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}
.slider-card {
  background: #fff;
  padding: 0px 0px;
  margin: 50px 15px 90px 15px;
  border-radius: 5px;
  box-shadow: 0 15px 45px -20px rgb(0 0 0 / 73%);
  transform: scale(0.9);
  opacity: 0.5;
  transition: all 0.3s;
  height: 400px;
}
.slider-card img {
  border-radius: 5px 5px 0px 0px;
  
}
.owl-nav .owl-prev {
  position: absolute;
  top: calc(50% - 25px);
  left: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-nav .owl-next {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  opacity: 1;
  font-size: 30px !important;
  z-index: 1;
}
.owl-dots {
  text-align: center;
}
.owl-dots .owl-dot {
  height: 15px;
  width: 15px;
  border-radius: 10px;
  background: white !important;
  margin-left: 3px;
  margin-right: 3px;
  outline: none;
}
.owl-dots .owl-dot.active {
  background: var(--purpleColor) !important;
}